.background{
    position: absolute;
    inset: 0;
    z-index: 5;
    background-color: #e4e2e2;
}


.container{
    z-index: 6;
    width: 500px;
    height: 600px;
    border: 1px solid #543019;
    border-radius: 10px;
    position: absolute;
    inset: 0;
    margin: auto;
    display: inline-block;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #e4e2e2;

    img{
        width: 80px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;

        input{
            border: 1px solid #543019;
            height: 40px;
            padding: 5px;
            border-radius: 5px;
            background-color: white;
        }

        button{
            margin-top: 60px;
            border-radius: 5px;
            height: 40px;
            padding: 5px;
            width: 100%;
            background-color: #543019;
            color: white;
        }
    }
}

  h1{
        font-size: 2.1rem;
        display: flex;
        align-items: center;
    }

    .title::after {
        content: "";
        display: inline-block;
        width: 3.5rem;
        height: 3.5rem;
        background-image: url(/logo/logo_color.png); 
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 8px; 
}