.container{
    margin: 0 13vw;
    display: flex;
    flex-direction: column;
    align-items: center;
     h1{
        text-align: center;
        display: block;
     }

     .content{
        margin-top: 60px;
        display: grid;
        grid-template-columns: (1.5fr 1fr);
        gap: 30px;
     }

     .order_container{
        border: 1px solid #e1e1e1;
        padding: 20px;
        max-height: 500px;

        .mk_order_btn{
            width: 100%;
            height: 60px;
            background-color: #543019;
            padding: 20px;
            color: #e1e1e1;
            margin-bottom: 40px;
        }
        .mk_order_btn_disabled{
            cursor: auto;
            background-color: #9e9894;
        }

        .order_price{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            p{
                font-weight: 300;
                font-size: 0.8rem
            }
            span{
                font-size: 1.2rem;
            }
           
        }

        .order_delivery{
            font-size: 0.9rem;
            margin-left: 20px;
            display: flex;
            align-items: center;
        }

        .order_delivery::before{
            content: '';
            background-image: url(/ico/package.png); 
            display: inline-block;
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 10px;
        }
     }
}

.item_container{
    border: 1px solid #e1e1e1;
    padding: 15px;
    .item_heder{
        display: flex;
        justify-content: end;
        button{
            background-image: url(/ico/cross_color.png);
            width: 16px;
            height: 16px;
        }
    }

    .item_content{
        padding: 10px;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        .img{
            width: 110px;
            height: auto;
            cursor: pointer;
        }

        .description{

            h2{
                margin-bottom: 10px;
                font-weight: 500;
            }

            max-width: 270px;
            p{
                font-size: 0.6rem;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .count{
            display: flex;
            align-items: center;

            button{
                font-size: 1.4rem;
                font-weight: 200;
                
            }

            input{
                margin: 0 5px;
                width: 40px;
                height: 40px;
                border: 1px solid #e1e1e1;
                text-align: center;
            }
        }

        .price{
            display: flex;
            flex-direction: column;
            justify-content: center;
            span{
                margin-bottom: 2px;
            }

            span::after{
                content: 'Р.';
                margin-left: 5px;
                
            }
            p{
                font-weight: 300;
                font-size: 0.7rem;
            }

            p::after{
                content: 'Р/унц.';
                font-size: 0.6rem;
                margin-left: 3px;
            }
        }
    }
}


 input[type=radio]{
    accent-color: #543019 ;
}

input[type=checkbox]{
     accent-color: #757575
} 

.conteinerNoItems{
    display: flex;
    justify-content: center;
    .linkToCatalog{
        color: #543019;
        text-decoration: underline;
        font-weight: 500;
        font-size: 1.3rem;
        cursor: pointer;
    }
}