.container{
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4vw 20px 4vw 80px;
    gap: 120px;

    nav{
        display: flex;
        align-items: end;
    }

    h1{
        font-size: 2.1rem;
        display: flex;
        align-items: center;
    }

    h1::after {
        content: "";
        display: inline-block;
        width: 3.5rem;
        height: 3.5rem;
        background: url(/logo/logo.png); 
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 8px; 
}

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 40px;
        font-size: 1.1rem;

        li:hover{
            color: rgb(8, 94, 13);
        }
    }
}